@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<meta charset="windows-1250">
<div class="text-center">
    <h2>@DatabaseConnector.currentQuestion.q</h2>
    <br>
</div>
@{
    if (DatabaseConnector.showAnswer)
    {
        <div class="text-center">
            <h4>@DatabaseConnector.currentQuestion.ans</h4>
        </div>
            if (DatabaseConnector.currentQuestion.image != null && !DatabaseConnector.currentQuestion.image.Equals(""))
            {
                <div class="text-center">
                <img src="~/Images/@DatabaseConnector.currentQuestion.image" alt="Answer">
                </div>
            }
    }
}
<br>
<br>
<div class="text-center">
    @if (!DatabaseConnector.showAnswer)
    {
        @using (Html.BeginForm("QuestionsAwnser", "Home", FormMethod.Post))
        {
            <button type="submit">Show Awnser</button>
        }
    }
</div>


<div class="text-center">
    @if (DatabaseConnector.showAnswer)
    {
        @using (Html.BeginForm("Questions", "Home", FormMethod.Post))
        {
            <button type="submit">Next Question</button>
        }
        <br>
        @using (Html.BeginForm("QuestionsSkip", "Home", FormMethod.Post))
        {
            <button type="submit">Skip Question</button>
        }
    }
</div>
