@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <pre>@DatabaseConnector.currentQuestion.q</pre>
</div>
@{
    if (DatabaseConnector.showAnswer)
    {
        <div class="text-center">
            <pre>@DatabaseConnector.currentQuestion.ans</pre>
        </div>
    }
}

@using (Html.BeginForm("QuestionsAwnser", "Home", FormMethod.Post))
{
	<button type="submit">Show Awnser</button>
}

@using (Html.BeginForm("Questions", "Home", FormMethod.Post))
{
	<button type="submit">Next Question</button>
}

@using (Html.BeginForm("QuestionsSkip", "Home", FormMethod.Post))
{
	<button type="submit">Skip Question</button>
}